*.tmp
[Dd]ebug/
[Re]e;ease*/
*.bak
*.suo
src/*/obj/*
src/*/Release/*
src/*/Release/*
src/Server/Services/HostForm/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
*/Release/*
*Services.suo
*.suo
