<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>


    <client>
      <endpoint address="http://127.0.0.1:8732/Design_Time_Addresses/Services/PuzzleUService/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPuzzleUService"
        contract="PuzzleUService.IPuzzleUService" name="WSHttpBinding_IPuzzleUService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="wsFileUploadCapable" maxReceivedMessageSize="500000000">
          <readerQuotas maxArrayLength="500000000" />
        </binding>
        <binding name="WSHttpBinding_IPuzzleUService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="webFileUploadCapable" maxReceivedMessageSize="500000000" />
      </webHttpBinding>
    </bindings>


    <services>
      <service name="PuzzleUServices.PuzzleUService">

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000"/>
          </baseAddresses>
        </host>

        <endpoint address="ws" binding="wsHttpBinding" contract="PuzzleUServices.IPuzzleUService" bindingConfiguration="wsFileUploadCapable">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>


        <endpoint address="web" binding="webHttpBinding" contract="PuzzleUServices.IPuzzleUWebService"
                  bindingConfiguration="webFileUploadCapable" behaviorConfiguration="webHttpEndpointBehavior">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <!--<endpoint address="web2" binding="webHttpBinding" contract="PuzzleUServices.IPuzzleUWebService"
          bindingConfiguration="webDefault" behaviorConfiguration="webHttpEndpointBehavior">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>-->


        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>


      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
